<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Emp</title>
</head>
<body>
    
    <h1>Add Employee: </h1>
    <form action="/addEmp" method="post">
        <h2>Enter Emp Id: </h2>
        <input type="number" name="id" id="empid">
        <br>
        <h2>Enter Emp Name: </h2>
        <input type="text" name="name" id="empname">
        <br>
        <h2>Enter Emp Sal:</h2>
        <input type="number" name="sal" id="empsal">
        <h2>Enter dept: </h2>
        <input type="text" name="dept" id="empdept">
        <br>
        <button type="submit" id="addempbtn">Submit</button>
    </form>
</body>
</html>